@import "style.css";

:root {

    /* */
    --clr-search-bg: hsla(0, 0%, 7%, 0.9); /* Dark-grey, 80% opacity */
    --clr-search-border: hsla(0, 0%, 95%, 0.8);

        /* Button Colours*/
        --clr-button: hsla(0, 0%, 95%, 0.3);

        --clr-registration-glass: #ffffff1a;
        --clr-registration-border: #ffffff30;
}

body {
    overflow-y: auto;
}

.ourStory {
    text-align: center;

    color: var(--clr-off-white);

    padding: 3rem;
    margin: 2rem;

    background: var(--clr-registration-glass);
    border: 1px solid var(--clr-registration-border);

    border-radius: 30px;
}

@supports (backdrop-filter: blur(1rem)) {
    .ourStory {

        background: var(--clr-registration-glass);
        backdrop-filter: blur(2rem);

    }
}

.ourStory h1 {
    margin-bottom: 20px;

    color: var(--clr-off-white);
}

@media (min-width: 55rem) {
    .ourStory {
        padding: 10rem;
        margin: 5rem;
    }
}


@media (min-width: 80rem) {
    .ourStory {
        padding: 15rem;
        margin: 10rem;
    }
}

h1 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;

    color: var(--clr-off-white);
}

h1 a {
    color: var(--clr-off-white);
    cursor: default;
}
