@import "style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--clr-off-white);
}

.centerButton::before {
    top: -50%;
}


.centerButton.active:before {
    top: -54%;
}

.form-group {
    margin-left: 5%;
    margin-right: 5%;
}