@import "style.css";

.centerButton.active:before {
  transform: rotate(225deg);
  left: 15%;
  top: -30%;
  transition: 500ms;
}

#test{
  background-color: antiquewhite;  
}

#map {
  animation-name: disappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#charge {
  animation-name: stretch;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

#map.leave {
  animation-name: disappear_leave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#charge.leave {
  animation-name: stretch_leave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes stretch {
  from {
    height: 35vh;
  }

  to {
    height: 70vh;
  }
}

@keyframes disappear {
  from {
    height: 35vh;
  }

  to {
    height: 0vh;
    visibility: hidden;
  }
}

@keyframes stretch_leave {
  from {
    height: 70vh;
  }

  to {
    height: 35vh;
  }
}

@keyframes disappear_leave {
  from {
    height: 0vh;
  }

  to {
    height: 35vh;
    visibility: visible;
  }
}

.card-content p {
  color: white;  
  text-align: center;
}

#bat_container {
  height: 25vh;
  width: 100%;
  display: flex;
}

#battery {
  width: 100%;
  height: 10%;
  align-self: start;
  margin: 5vh;
}

#bat_icon {
  left: 20vw;
  width: 20vw;
  height: 10vh;
  background-color: white;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#bat_icon:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 3.75vh;
  width: 2.5vh;
  height: 2.5vh;
  background-color: white;
  border-radius: 0px 5px 5px 0px
}

#bat_icon:before {
  content: "XX%";
  position: absolute;
  text-align: center;
  margin-left: 2vw;
  margin-top: 1vh;
  width: 6vw;
  height: 3vh;
  padding: 2.5vh 5vw 2.5vh 5vw;
  color: white;
  background-color: black;
  border-radius: 10px;
}

#est_time_container{
  height: 25vh;
  width: 100%;
  display: flex;
}

#est_time{
  width: 100%;
  height: 10%;
  align-self: start;
  margin: 5vh;
}

#est_time_block {
  left: 10vw;
  width: 40vw;
  height: 20vh;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#est_time_block:before {
  content: "XX:XX";
  position: absolute;
  text-align: center;
  margin-left: 4vw;
  margin-top: 2vh;
  width: 12vw;
  height: 3vh;
  padding: 7.5vh 10vw 5vh 10vw;
  color: white;
  background-color: black;
  border-radius: 10px;
}
