@import "style.css";

:root {

    /* */
    --clr-search-bg: hsla(0, 0%, 7%, 0.9); /* Dark-grey, 80% opacity */
    --clr-search-border: hsla(0, 0%, 95%, 0.8);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#charge {
    animation-name: disappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#emap {
    animation-name: stretch;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#charge.leave {
    animation-name: disappear_leave;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#map.leave {
    animation-name: stretch_leave;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes stretch {
    from {
        height: 35vh;
    }

    to {
        height: 70vh;
    }
}

@keyframes disappear {
    from {
        height: 35vh;
    }

    to {
        height: 0vh;
        visibility: hidden;
    }
}

@keyframes stretch_leave {
    from {
        height: 70vh;
    }

    to {
        height: 35vh;
    }
}

@keyframes disappear_leave {
    from {
        height: 0vh;
    }

    to {
        height: 35vh;
        visibility: visible;
    }
}

#googleMap{
    display: flex;
    height: 100vw; 
    width: 100vw;
    justify-content: center;
    align-items: center;
    top: -5%;
}

iframe {
    border:0; 
    height: 100vh; 
    width: 100vw;
    right: 5%;
}

.searchBar {
    width: 45vw;
    margin-top: 50px;
    background: var(--clr-search-bg);
    border: var(--clr-borders);
}


/* Search Bar */
.searchContainer {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100%; /* Make it full width */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    /* padding: 1rem; */
}

svg {
    fill: none;
}
.searchBar {
    width: 45vw;
    margin-top: 50px;
    background: var(--clr-search-bg);
    border: var(--clr-borders);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(25px) saturate(50);
}

/*.main-menu button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(25px) saturate(5);
}

/*.centerButton.active ~ .menu {
    background-color: var(--clr-search-bg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(25px) saturate(50);
}

.centerButton {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(25px) saturate(5);
}

.centerButton::before {
    color: var(--clr-search-bg)
}*/

/*.hamburgerButton.active:hover .hamburger {
    translate: 2.5px -2.1px;
    transition: 1s;
}

.hamburgerButton .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 400;
    transition: 1s;
} */

#map {
    position: absolute;
    top: 0;
    bottom: 1;
    width: 100%;
    height: 90%
}