@import "style_charge.css";

#placehold.leave {
  animation-name: disappear_leave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#start.leave {
  animation-name: stretch_leave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.card {
  pointer-events: none;
}


#main_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  /* Set the flex direction to column */
  align-items: center;
  /* Center horizontally within the container */
  gap: 1rem;
  margin-top: -1rem;
}

#start,
#placehold {
  border-radius: 2rem;
  cursor: pointer;
  height: 35vh;
  position: relative;
  width: 60vw;
}

#start {
  animation-name: stretch;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#placehold {
  animation-name: disappear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#charge {
  overflow: hidden;
}

.form_group {
  height: 100%;
  width: 100%;
  display: flex;
}

form * {
  color: white;
}

#location,
#time,
#est_bat,
#submit {
  position: absolute;
  height: 20%;
  width: 100%;
  z-index: 0;
}

#location {
  top: 10%;
}

#time {
  top: 30%;
}

#est_bat {
  top: 50%;
}

.content {
  text-align: center;
  width: 100%;
  height: 100%;
}

#submit {
  top: 80%;
  /* background-color: blue; */
}

#submit_content button {
  height: 50%;
  width: 50%;

  border: none;

  cursor: pointer;

  background-color: var(--clr-less-opache-bg);
  box-shadow: inset 0 0 0 4rem var(--clr-black-transparent),
    0 0 40px var(--clr-pink-glow),
    0 0 25px var(--clr-blue-glow);
  backdrop-filter: blur(2px) saturate(5);

}


select,
input {
  background-color: black;
}

.button {
  background: darkslategrey;
}


@keyframes stretch {
  from {
    height: 35vh;
    width: 60vw;
  }

  to {
    height: 70vh;
    width: 80vw;
  }
}

@keyframes stretch_leave {
  from {
    height: 70vh;
    width: 80vw;
  }

  to {
    height: 35vh;
    width: 60vw;
  }
}

/* SEARCH BAR */
.searchContainer {
  top: 2%;
}

.centerButton::before {
  content: "+";
  font-family: "condor", sans-serif;
}