:root {
  --clr-bg: hsla(0, 0%, 7%);
  --clr-bg-transparent: hsla(0, 0%, 7%, 0.4);
  --clr-white: hsl(0, 0%, 95%);
  --clr-borders:hsl(0, 0%, 24%);
  --clr-opache-bg: hsla(0, 0%, 100%, 0.10);
  --clr-clear: hsla(0, 0%, 0%, 0);

  --clr-prime: hsl(240 80% 20%);
  --clr-secondary: #6c66c6;
  --clr-accent: hsl(320 100% 50%);

  
  --clr-vibrantlav: hsl(260 70% 60%);
  --clr-vibrantpurp: hsl(260, 66%, 52%);
  --clr-royalpurp: hsl(270 50% 30%);

  --clr-neonblu: hsl(190 100% 50%);
  --clr-neonpeach: hsl(40 100% 50%);

  --clr-glass: hsla(0, 0%, 100%, 0.1);
  --clr-brightglass: hsla(0, 0%, 5%, 0.05);
  --clr-darkglass: hsla(0, 0%, 5%, 0.01);

  --clr-persianblu: hsl(235, 100%, 55%);    
  --clr-darkblu: #090c9b;
  --clr-violet: hsl(240, 100%, 65%); 

  /* For background mist orbs */
  --clr-neon-blue: hsl(200, 100%, 50%);
  --clr-neon-pink: hsl(280, 100%, 50%);

  /* Glow Colours */
  --clr-blue-glow: hsl(180, 100%, 50%);
  --clr-pink-glow: hsl(317, 100%, 50%);

  /* Card Colours*/
  --clr-cards: hsla(0, 0%, 90%, 0.2);
  --clr-card-content: hsla(0, 0%, 2% / 0.1);

  /* Nav Colours */
  --clr-black-transparent: hsla(0, 0%, 0%, 0.7);
  --clr-off-white: hsla(0, 10%, 90%, 0.90);
  --clr-nav-bg: #000211;
}

#settings-body {
  background-color: var(--clr-bg);
  align-items: start;
  justify-content: start;
  display: grid;
  max-width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  grid-template-columns: 99vw;
  grid-template-rows: [first] 0 [header] 4.5rem [notifications] 11rem [general] 11rem [customization] 11rem [more-options] 11rem [footer] 6rem [last];
  row-gap: 1rem;
  font-family: 'Lucida Sans', sans-serif;
  overflow-y: scroll;
}

.simple-header {
  grid-row: header / notifications;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--clr-opache-bg);
  font-size: 1.9rem;
  color: white;
}

.simple-header p {
  position: relative;
  left: 1.5rem;
}

#settings-group-1 {
  grid-row: notifications / general;
}

#settings-group-2 {
  grid-row: general / customization;
}

#settings-group-3 {
  grid-row: customization / more-options;
}

#settings-group-4 {
  grid-row: more-options / footer;
}

.settings-group {
  width: 100%;
  background-color: var(--clr-opache-bg);
  font-size: 1.5rem;
  color: #EEEEEE;
}

.settings-group > * {
  margin: 1.3rem;
}

.settings-group i {
  margin-left: 3rem; 
}

.settings-group p:first-child {
  color: #808080;
}

/* ********** */
/* BOTTOM NAV */
/* ********** */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, var(--clr-bg-transparent), var(--clr-clear));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  z-index: 100;
}

/* Add styling for your navigation links within .bottom-nav if needed */
.bottom-nav a {
  color: var(--clr-white);
  text-decoration: none;
}

.centerButton {
  position: relative;
  width: 5.75rem;
  height: 5.75rem;
  border-radius: 30%;
  top: 20%;
  transition: 500ms;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-1.75rem);
  box-shadow: inset 0 0 0 5rem var(--clr-black-transparent), 0 0 50px var(--clr-pink-glow), 0 0 35px var(--clr-blue-glow);
}

.centerButton::before {
  content: "+";
  font-family: "condor", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-off-white);
  font-size: 7.5em;
  position: absolute;
  transform: translate(0%, 4.5%);  /* Center the image precisely */
  transition: 500ms;
  left: 15%;
  top: -30%;
}

.centerButton.active{
  top: 0%;
  transition: 500ms;
}

.centerButton.active:before {
  transform: rotate(225deg);
  left: 20%;
  top: -34%;
  transition: 500ms;
}

.menu {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: var(--clr-clear);
  border: 2px solid var(--clr-clear);
  border-radius: 30%;
  transform: translateY(-2rem);
  transition: 300ms;
  /* transition: transform 300ms, width 300ms, height 300ms;
  transition-delay: 1s, 300ms, 300ms; */
}

.centerButton.active ~ .menu {
  width: 100vw;
  height: 17.5vh;
  background: var(--clr-glass);
  border: 2px solid var(--clr-borders);
  border-radius: 0%;
  transform: translateY(2rem);
  transition: 300ms;
  /* transition-delay: 1s, 300ms, 300ms; */
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  line-height: 8rem;
}

.menu ul li {
  list-style: none;
  cursor: pointer;

}

.menu ul li a {
  display: block;
  font-size: 2.5rem;
  color: var(--clr-white);
  text-decoration: none;
  transition: 500ms;
  transform: translateY(-1rem);
}

.menu ul li a:hover {
  transform: translateY(-1.5rem) scale(1.25);
  color: var(--clr-neonblu);
  transition: 500ms;
}