:root {
    --clr-bg: hsla(0, 0%, 7%);
    --clr-bg-transparent: hsla(0, 0%, 7%, 0.4);
    --clr-white: hsl(0, 0%, 95%);
    --clr-borders:hsl(0, 0%, 24%);
    --clr-opache-bg: hsla(0, 0%, 100%, 0.10);
    --clr-clear: hsla(0, 0%, 0%, 0);

    --clr-prime: hsl(240 80% 20%);
    --clr-secondary: #6c66c6;
    --clr-accent: hsl(320 100% 50%);

    
    --clr-vibrantlav: hsl(260 70% 60%);
    --clr-vibrantpurp: hsl(260, 66%, 52%);
    --clr-royalpurp: hsl(270 50% 30%);

    --clr-neonblu: hsl(190 100% 50%);
    --clr-neonpeach: hsl(40 100% 50%);

    --clr-glass: hsla(0, 0%, 100%, 0.1);
    --clr-brightglass: hsla(0, 0%, 5%, 0.05);
    --clr-darkglass: hsla(0, 0%, 5%, 0.01);

    --clr-persianblu: hsl(235, 100%, 55%);    
    --clr-darkblu: #090c9b;
    --clr-violet: hsl(240, 100%, 65%); 

    /* For background mist orbs */
    --clr-neon-blue: hsl(200, 100%, 50%);
    --clr-neon-pink: hsl(280, 100%, 50%);


    /* Card Colours*/
    --clr-cards: hsla(0, 0%, 90%, 0.2);
    --clr-card-content:hsl(0, 0%, 11%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--clr-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-image: url("ImageSources/MobileGradient.png");
    background-size: 110vw 110vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#top-dot {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: -7.5vw;
    width: 209px;
    height: 199px;
    background-color: rgba(0, 6, 61, 0.40);
    filter: blur(100px);
}

#middle-dot {
    position: absolute;
    z-index: 1;
    top: 60%;
    right: -10vw;
    width: 209px;
    height: 199px;
    background-color: rgba(80, 0, 82, 0.40);
    filter: blur(100px);
    border-radius: 50%;
}

#bottom-dot {
    position: absolute;
    z-index: 1;
    bottom: -15%;
    left: 5%;
    width: 209px;
    height: 199px;
    background-color: rgba(0, 12, 119, 0.5);
    filter: blur(100px);
}

#cards {
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    align-items: center; /* Center horizontally within the container */
    gap: 29px; /* Adjust the gap as needed */
    margin-top: -5rem;
}

#cards:hover > .card >  .card-border {
    opacity: 1;
}

.card {
    background-color: var(--clr-cards);
    border-radius: 2rem;
    cursor: pointer;
    height: 35vh;
    position: relative;
    width: 60vw;
    
}

.card:hover::before {
    opacity: 1;
}

.card.active::before {
    opacity: 1;
}

.card::before,
.card > .card-border {
    background: radial-gradient(
        800px circle at var(--mouse-x, 0) var(--mouse-y, 0), /* provide fallback values */
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.card::before {
    background: radial-gradient(
        700px circle at var(--mouse-x) var(--mouse-y), /* provide fallback values */
        rgba(255, 255, 255, 0.08),
        transparent 40%
    );
    z-index: 3;
}


.card > .card-border {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y), /* provide fallback values */
        rgba(255, 255, 255, 0.03),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--clr-card-content);
    border-radius: inherit;
    height: calc(100% - 2px);
    margin: 1px;
    position: relative;
    width: calc(100% - 2px);
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
        0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, var(--clr-bg-transparent), var(--clr-clear));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem; /* Adjust the height as needed */
    z-index: 100; /* Make sure it's above other content */
}

/* Add styling for your navigation links within .bottom-nav if needed */
.bottom-nav a {
    color: var(--clr-white);
    text-decoration: none;
}

.center-button {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    background: linear-gradient(to top right, var(--clr-persianblu), var(--clr-neonblu), var(--clr-accent));
    border: 6px solid var(--clr-bg);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-2rem)
}

.center-button::before {
    content: url("icons/PowerButton-01.png");
    position: absolute;
    transform: translate(-50%, -50%);  /* Center the image precisely */
    transform: scale(20%);
    transition: 500ms;
}


.center-button:hover:before {
    transform: scale(22%);
    transition: 500ms;
}

.menu {
    position: absolute;
    width: 100vw;
    height: 7.75rem;
    background: var(--clr-glass);
    border: 2px solid var(--clr-borders);
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    line-height: 8rem;
}

.menu ul li {
    list-style: none;
    cursor: pointer;

}

.menu ul li a {
    display: block;
    font-size: 2.5rem;
    color: var(--clr-white);
    text-decoration: none;
    transition: 500ms;
}

.menu ul li a:hover {
    transform: scale(1.25);
    color: var(--clr-neonblu);
    transition: 500ms;
}
